:root {
    --color-app-01: rgb(255, 105, 0);
    --color-app-02: rgb(207, 46, 46);
    --color-app-03: rgb(247, 148, 29);
    --color-app-04: rgb(162, 37, 49);
    --color-app-05: rgb(25, 32, 65);
    --color-app-06: rgb(245, 171, 61);
    --color-text-01: rgb(39, 50, 61);
    --color-grey-01: #909498;
    --color-grey-02: #a3a7ac;
    --color-grey-03: #b1b5b9;
    --color-grey-04: #cdd1d4;
    --color-black-01: #111;
    --color-black-02: #222;
    --color-black-03: #333;
    --color-white-01: #ffffff;
    --color-white-02: #f4f4f4;
    --color-white-03: #eaeaea;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--color-app-03) var(--color-white-01);
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-app-03);
    border-radius: 4px;
}

html,
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

#grid {
    max-width: 1300px;
    margin: 0 auto;
}