.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 1000px;
}

.like-container {
    margin-left: -148px;
    margin-top: 20px;
}